* {
    box-sizing: border-box;
}

.wrapper {
    margin: 0 32px;
}

html,
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    height: 100vh;
    color: #111111;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 102px auto;
}

.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.main {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.footer {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
}


/* HEADER */
.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navigation-logo,
.footer-logo {
    width: 198px;
    height: 36px;
    cursor: pointer;
}

.navigation-list {
    display: none;
}

.navigation-bars {
    height: 22px;
    width: 24px;
}

/* first container */
.first-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 540px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.first-container__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.announcement {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 115%;
    font-weight: 700;
    color: #FF3998;
}

.first-container__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    margin: 0;
}

.first-container__text,
.first-container__button,
.additional-container__text {
    font-size: 20px;
    line-height: 150%;
}

.first-container__text,
.additional-container__text,
.navigation-list .list-item__link {
    font-weight: 400;
    color: #555555;
    margin: 0;
}

.first-container__button {
    font-weight: 600;
    color: inherit;
    padding: 22px 0;
    max-width: 188px;
    border: 4px solid #000000;
    border-radius: 100px;
    margin-top: 8px;
    cursor: pointer;
}

.first-container__image-box {
    position: relative;
}

.first-container__image {
    height: 410px;
    object-fit: cover;
    position: absolute;
    z-index: 10;
    right: -42px;
    top: -48px;
}

/* oranzinis cont  + addit.cont*/
.notice-container {
    padding-top: 122px;
    padding-bottom: 32px;
    background-image: url(assets/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.notice-container__title,
.additional-container__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    margin: 0;
    margin-bottom: 16px;
}

.notice-container__text,
.additional-container__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin: 0;
}

/*PROMOTERS*/
.promoters {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: space-between;

    padding: 66px 0 56px 0;
    margin: 0;
    list-style: none;
}

.promoters-box {
    height: 46px;
}

.promoters-logo.mobile-invisible {
    display: none;
}

/* ADDIT. CONT */
.additional-container__link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #111111;
    border-color: inherit;
}

/* ADDIT. CONT. CARDS */
/* .additional-container {
    border-bottom: 1px solid #EEEEEE;
} */

.additional-container__cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    margin: 40px 0 92px 0;
    padding: 0 32px;
}

.card {
    flex: 0 0 auto;
}

.additional-container__cards .card {
    width: 290px;
    height: 400px;
    background-color: #EEEEEE;
    border-radius: 16px;
    font-size: 0;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
}

.card-text,
.card-name,
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: #777777;
}

.card-text--bright {
    color: #FF8139;
}

.card-title,
.bid-number {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
}

.card-bid {
    position: relative;
}

.bid-icon::before {
    position: absolute;
    content: url(assets/eth.svg);
    transform: translatex(-100%);
    left: -10px;
    bottom: 0px;
}

.card-footer {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #777777;
}


/* FOOTER */
.footer,
.footer__main-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.footer {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #555555;
    padding-top: 66px;
    padding-bottom: 104px;
}

.footer__logo-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__social-list {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    margin-top: 2px;
    padding: 0;
}

.footer__nav-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 40px;
}

.footer__navigation {
    flex-basis: 100px;
}

.footer__navigation-title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 118%;
}

.footer__navigation-list {
    list-style: none;
    margin: 28px 0 0 0;
    padding: 0;
}

.footer__navigation-link {
    text-decoration: none;
    color: inherit;
}

.footer__navigation-list-item:not(:last-child) {
    margin-bottom: 16px;
}

.footer__copyright-text,
.footer__copyright-advert {
    color: #999999;
}

.footer__copyright-advert {
    display: none;
}

.first-container,
.additional-container__cards {
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.additional-container__cards::-webkit-scrollbar {
    display: none;
}

.first-container::-webkit-scrollbar {
    display: none;
}


@media only screen and (min-width: 768px) {
    .navigation-bars {
        display: none;
    }

    .navigation-list {
        display: flex;
        list-style: none;
        gap: 28px;
    }

    .navigation-list .list-item__link {
        text-decoration: none;
        font-size: 20px;
        line-height: 100%;
    }

    .first-container {
        padding-bottom: 200px;
    }

    .first-container__title {
        font-size: 96px;
        margin-bottom: 8px;
    }

    .first-container__text {
        margin-bottom: 17px;
    }

    .first-container__image {
        width: 100%;
        height: 100%;
        position: static;
        transform: scale(1.2);
        overflow: visible;
    }

    .list-item__link.active{
        color: #FF3998;
    }

    .first-container {
        width: 100%;
    }

    .promoters-logo.mobile-invisible {
        display: initial;
    }
}

@media only screen and (min-width: 992px) {
    body {
        grid-template-columns: auto minmax(800px, 1280px) auto;
        grid-template-rows: 116px auto;
    }

    .header,
    .main,
    .footer {
        grid-column: 2 / 3;;
    }

    .wrapper {
        margin: 0 80px;
    }

    .notice-container {
        margin: 0 80px;
        border-radius: 20px;
    }

    .additional-container__cards {
        margin: 0 80px;
        padding: 0;
    }

    .footer__main-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__nav-container {
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 50%;
        gap: 0;
    }

    .footer__copyright {
        display: flex;
        justify-content: space-between;
    }

    .footer__copyright-advert {
        display: initial;
    }
}